.header {
  background: rgb(26, 26, 34);
  color: white;
  height: 130px;
}

.title {
  margin: 0;
  padding: 0;
  width: 200px;
}

.subtitle {
  margin: 0;
  width: 200px;
}

.nav {
  float: right;
}

a {
  margin-right: 20px;
  text-decoration: none;
}